*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 800px;
    width: 600px;
    margin: 100px auto 0;
    border: 2px solid black;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}
.display {
    flex-grow: 1;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
#disp_field {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 80px;
    border: none;
    color: black;
    /* user-select: none; */
    overflow: hidden;
}
.buttons {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: 10px;
    box-sizing: border-box;
}
.btn {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:70px;
    line-height: 0;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
}
.btn:hover {
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 10px black;
}
.btn:active {
    background-color: red;
    color: white;
}