* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    overscroll-behavior: none;  
    background: linear-gradient(to bottom right, blue, aqua, blue);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main_box {
    min-height: 350px;
    width: min-content;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
}

img {
    height: 100%;

}
#left_btn, #right_btn {
    font-size:  30px;
    padding: 40px 5px;
    line-height: 0;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
    cursor: pointer;
}
#left_btn:hover, #right_btn:hover {
    background-color: rgba(0, 0, 0, 0.2);

}